@model IEnumerable<IglesiaGPS.modelo.Recomendacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecomendacionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CancionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mensaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRecomendacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leida)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecomendacionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CancionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mensaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRecomendacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leida)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.RecomendacionId }) |
                @Html.ActionLink("Details", "Details", new { id=item.RecomendacionId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.RecomendacionId })
            </td>
        </tr>
}
    </tbody>
</table>
