@model IEnumerable<IglesiaGPS.modelo.NotaMusical>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NotaMusicalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CancionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contenido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instrumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltimaEdicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditadoPorUsuarioId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NotaMusicalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CancionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contenido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instrumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UltimaEdicion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditadoPorUsuarioId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.NotaMusicalId }) |
                @Html.ActionLink("Details", "Details", new { id=item.NotaMusicalId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.NotaMusicalId })
            </td>
        </tr>
}
    </tbody>
</table>
